@import "tailwindcss";

/* Poppins 100 */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-v24-latin-100.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Poppins 200 */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-v24-latin-200.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Poppins 300 */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-v24-latin-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Poppins 400 */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-v24-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Poppins 500 */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-v24-latin-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Poppins 600 */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-v24-latin-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Poppins 700 */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-v24-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Poppins 800 */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-v24-latin-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Poppins 900 */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-v24-latin-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
/* TikTok Sans 300 */
@font-face {
  font-family: "TikTok Sans";
  src: url("/fonts/tiktok-sans-v8-latin-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* TikTok Sans 400 */
@font-face {
  font-family: "TikTok Sans";
  src: url("/fonts/tiktok-sans-v8-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* TikTok Sans 600 */
@font-face {
  font-family: "TikTok Sans";
  src: url("/fonts/tiktok-sans-v8-latin-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* TikTok Sans 800 */
@font-face {
  font-family: "TikTok Sans";
  src: url("/fonts/tiktok-sans-v8-latin-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* TikTok Sans 900 */
@font-face {
  font-family: "TikTok Sans";
  src: url("/fonts/tiktok-sans-v8-latin-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: "Poppins", sans-serif;
}

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-tiktok: "TikTok Sans", sans-serif;
  --color-gray-dark: #0f172a;
  --color-light-dark: #6b7280;
  --color-gray: #888888;
  --color-border-color: #e8e4dc;
  --color-text-primary: #1a1a1a;
  --color-border-dark: #ebebeb;
  --color-gold: #d4a017;
}

.font-tiktok {
  font-family: "TikTok Sans", sans-serif;
}

.container-custom {
  width: 100%;
  margin-inline: auto;
  padding-inline: 16px;
}

@media (min-width: 640px) {
  .container-custom {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-custom {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-custom {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-custom {
    max-width: 1170px;
    padding-inline: 0;
  }
}

@utility section-space {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (width >= 1024px) {
    padding-top: 110px;
    padding-bottom: 110px;
  }
}
@utility section-bottom {
  padding-bottom: 60px;

  @media (width >= 1024px) {
    padding-bottom: 110px;
  }
}
.gold-gradient {
  background: linear-gradient(120deg, #f2b62d 0%, #b56e05 100%);
}

.gold-gradient-text {
  background: linear-gradient(180deg, #f2b62d 0%, #b56e05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@layer components {
  .section-tag {
    @apply text-sm font-semibold uppercase tracking-[1.2px] text-gold;
  }
  .section-title {
    @apply mt-[10px] text-[28px] sm:text-[36px] font-bold lg:leading-none text-gray-dark;
  }
  .section-link {
    @apply hidden lg:flex items-center gap-2 font-semibold text-gold transition-all duration-300 hover:gap-3;
  }
  .input-style {
    @apply h-[60px] w-full rounded-full border border-border-dark bg-white px-[25px] text-[#17213C] outline-none transition placeholder:text-gray focus:border-[#D69A17];
  }
  .common-btn {
    @apply relative flex h-10 sm:h-12 items-center justify-center overflow-hidden
    rounded-full px-[25px] text-base font-semibold text-white
    cursor-pointer w-max;

    background: linear-gradient(120deg, #f2b62d 0%, #b56e05 100%);
    transition:
      transform 0.35s ease,
      box-shadow 0.35s ease;
  }

  /* Shine */
  .common-btn::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -70%;
    width: 45%;
    height: 200%;

    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.45),
      transparent
    );

    transform: rotate(20deg);
    transition: left 0.65s ease;
  }

  .common-btn:hover::before {
    left: 130%;
  }

  .common-btn:hover {
    transform: translateY(-2px) scale(1.02);

    box-shadow:
      0 8px 25px rgba(181, 110, 5, 0.25),
      0 0 20px rgba(242, 182, 45, 0.15);
  }

  .common-btn:active {
    transform: scale(0.96);
  }

  .common-subscrib-btn {
    @apply relative sm:m-1 rounded-3xl sm:rounded-full px-[25px] py-4 font-semibold text-white transition hover:opacity-90 text-sm cursor-pointer h-10 sm:h-12 flex items-center;

    background: linear-gradient(120deg, #f2b62d 0%, #b56e05 100%);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }

  /* Shine effect */
  .common-subscrib-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 60%;
    height: 100%;

    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.35),
      transparent
    );

    transform: skewX(-25deg);
    transition: left 0.6s ease;
  }

  .common-subscrib-btn:hover::before {
    left: 130%;
  }

  .common-subscrib-btn:hover {
    transform: scale(1.04);

    box-shadow:
      0 0 0 4px rgba(242, 182, 45, 0.08),
      0 8px 25px rgba(181, 110, 5, 0.3);
  }

  .common-subscrib-btn:active {
    transform: scale(0.96);
  }

  .hero-basic-btn {
    @apply basis-[calc(50%-6px)] sm:basis-auto px-3 sm:px-5 py-2 rounded-full bg-[#FFFFFF1A] hover:bg-white/20 backdrop-blur-md border border-[#FFFFFF33] text-xs md:text-sm font-light transition flex items-center gap-2 md:gap-[15px];
  }

  .hero-tag {
    @apply inline-flex items-center gap-2 backdrop-blur-md text-sm text-[#FFFFFFE5] border border-[#FFFFFF33] bg-[#FFFFFF1A] rounded-[999px] py-[10px] px-[15px] mb-6;
  }

  .home-hero-label {
    @apply flex items-center justify-start gap-2 md:gap-[15px] rounded-full border border-[#FFFFFF33] bg-[#FFFFFF1A] px-3 py-2 text-xs font-light backdrop-blur-md transition hover:bg-[#FFFFFF33] md:text-sm;
  }

  .nav-link {
    @apply relative inline-flex items-center text-[18px] font-medium text-[#3D4456] transition-all duration-300;
  }

  .nav-link::before {
    content: "";
    @apply absolute left-0 top-1/2 -translate-y-1/2 h-[8px] w-[8px] rounded-full bg-[#D4A017] opacity-0 transition-all duration-300;
  }

  /* Hover - only text color */
  .nav-link:hover {
    @apply text-[#D4A017];
  }

  /* Active - dot + color */
  .nav-link-active {
    @apply pl-5 text-[#D4A017];
  }

  .nav-link-active::before {
    @apply opacity-100;
  }
}

/* Main Container */
.react-tel-input {
  width: 100%;
}

/* Input */
.react-tel-input .form-control {
  width: 100% !important;
  height: 60px !important;
  border-radius: 999px !important;
  border: 1px solid #e6e8ec !important;
  padding-left: 75px !important;
  font-size: 16px !important;
  box-shadow: none !important;
  transition: all 0.25s;
}

.react-tel-input .form-control:focus {
  border-color: #d69a17 !important;
}

/* Flag Button */
.react-tel-input .flag-dropdown {
  border: none !important;
  background: transparent !important;
  border: 1px solid #ececec !important;
  border-radius: 999px 0 0 999px !important;
}

.react-tel-input .selected-flag {
  width: 58px !important;
  padding-left: 18px !important;
  border-radius: 999px 0 0 999px !important;
}
.react-tel-input .flag-dropdown {
  border-right: 1px solid #EBEBEB !important;
  transition: all 0.2s ease;
}

.react-tel-input:focus-within .flag-dropdown {
  border-right-color: #D69A17 !important;
}

.react-tel-input:focus-within .selected-flag {
  background: transparent !important;
}
/* Dropdown */
.react-tel-input .country-list {
  width: 320px !important;
  max-height: 300px !important;
  margin: 8px 0 0 0 !important;
  border: 1px solid #ececec !important;
  border-radius: 16px !important;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.12) !important;
  overflow-y: auto !important;
}

/* Search */
.react-tel-input .search {
  padding: 10px !important;
}

.react-tel-input .search-box {
  width: 100% !important;
  height: 42px !important;
  border: 1px solid #e5e7eb !important;
  border-radius: 10px !important;
  padding: 0 14px !important;
  font-size: 15px !important;
  outline: none !important;
}

/* Hide Search Icon */
.react-tel-input .search-emoji {
  display: none !important;
}

/* Country Item */
.react-tel-input .country {
  padding: 12px 18px !important;
  font-size: 15px !important;
  display: flex !important;
  align-items: center;
  gap: 12px;
}

.react-tel-input .country:hover {
  background: #f8f8f8 !important;
}

.react-tel-input .country.highlight {
  background: #fff7e6 !important;
}

/* Scrollbar */
.react-tel-input .country-list::-webkit-scrollbar {
  width: 6px;
}

.react-tel-input .country-list::-webkit-scrollbar-thumb {
  background: #d69a17;
  border-radius: 999px;
}
